.section{
  display: flex;
  //margin: 0 1rem 0 1rem;
  width: 100vw;
 
}
.picture1{
  width:49vw;
  
  padding: 0 .25rem;
}
.picture2{
  width:49vw;
  padding: 0 .25rem;
}

.gooey-text{
  margin: 1rem;
  font-size: 36px;
  
}